# HOST SERVER
HOST_IP=0.0.0.0
HOST_PORT=3300

# DATABASE INFO
DATABASE_HOST=127.0.0.1
DATABASE_USER=agora
DATABASE_NAME=postback
DATABASE_SCHEME=
DATABASE_PASSWORD=12345678
DATABASE_PORT=5432

LOGGING_LEVEL=verbose

ACCESS_KEY=

PROVIDER_ADDRESS=
AGENT_PK=
DELAY_SECOND=0
NETWORK=testnet